.navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 60px;
}

.navbar .category-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
}

.navbar .category-button:hover {
  color: rgb(196, 196, 196);
}
