.navbar {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 60px;
}

.navbar .category-button {
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.navbar .category-button:hover {
  color: var(--color-text-secondary);
}

/* .navbar .category-button .down-arrow {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  display: inline-block;
  background-image: url("/images/icons/down-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
} */

.navbar .category-button .down-arrow {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  display: flex;
  align-items: left;
}
