.navbar {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1001;
}

.menu-item:hover {
  color: var(--color-text-secondary);
}

.navbar .category-button {
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
}

.navbar .category-button:hover {
  color: var(--color-text-secondary);
}

/* .navbar .category-button .down-arrow {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  display: inline-block;
  background-image: url("/images/icons/down-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
} */

.navbar .category-button .down-arrow {
  width: 12px;
  height: 12px;
  margin-left: 2px;
  display: flex;
  align-items: left;
}

.menu-item.active {
  background: white;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* dropdown container */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  background: white;
  color: black;

  display: flex;
  gap: 80px;

  padding: 30px 60px;

  border-bottom: 1px solid #ddd;

  z-index: 30;
}

/* dropdown columns */
.dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-column h4 {
  margin-bottom: 10px;
}

.dropdown-column a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-column a:hover {
  text-decoration: underline;
}

/* grey overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  z-index: 10;
}
